<div class="d-flex" style="background-color:beige; height: 60px;justify-content: center;
align-items: center;">
  <div class="col-1">
    <button class="btn btn-secondary" (click)="home()">Home</button>
  </div>
  <div class="col-1"  *ngIf="isLoggedIn()==true">
    <button class="btn btn-secondary" (click)="upload()">Upload</button>
  </div>
  <div class="col-1" *ngIf="isLoggedIn()==true">
    <button class="btn btn-secondary">Profile</button>
  </div>
  <div class="col-1" *ngIf="isLoggedIn()==true">
    <button class="btn btn-secondary" (click)="users()">Users</button>
  </div>
  <span class="right"></span>
  <div class="col-1" *ngIf="isLoggedIn()==false">
    <button class="btn btn-secondary" (click)="signIn()">Sign-in</button>
  </div>
  <div class="col-1" *ngIf="isLoggedIn()==false">
    <button class="btn btn-secondary" (click)="signUp()">Sign-up</button>
  </div>
  <div class="col-1" *ngIf="isLoggedIn()==true">
    <button class="btn btn-secondary" (click)="logOut()">Log-out</button>
  </div>
</div>
